*{
  margin: 0;
  padding: 0;
  font-family: "segoe UI";
}
.conteudo{
  width: 100vw;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  background-color: black;
  background-image: url('./Assets/background.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  background: white;
  border-radius: 15px;
  padding: 30px;
  min-width: 30vw;
  min-height: 60vh;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
}
form input{
  background-color: rgb(218, 218, 218);
  border: 0;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 70%;
}
form button{
  width: 30%;
  height: 30px;
  border: 0;
  background-color: rgb(183, 96, 25);
  color: white;
  border-radius: 5px;
}

.dadosPokemon{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.imagemPokemon{
  height: 70px;
}

.tipos{
  display: flex;
  justify-content: center;
}

.creditos{
  color: white;
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  text-shadow: 0px 0px 5px black;
}

a{
  color: rgb(255, 68, 0);
  text-decoration: none;
}
@media (max-width: 476px) {
  .card{
    max-width: 75vw;
  }
}